.text {
    padding: 30px;
}

.category span {
    padding: 4px 15px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
}

.category i {
    font-size: 20px;
    color: #bec7d8;
}

.button {
    border-top: 1px solid #e4e8f3;
    padding: 10px 30px;
}

.shadow {
    box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}

.shadow p{
    color: #72809d;
}

.btn2 {
    border-radius: 50px;
    font-size: 20px;
}

.recentCard img {
    width: 100%;
    height: 170px !important;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-weight: 500;
    margin-top: 10px;
}