.padding {
    padding: 80px 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
}

.mtop {
    margin-top: 50px;
}

.paginations{
    display: block;
    margin-top: 50px;
}

.paginations .previous{
    float: left;
}

.paginations .next{
    float: right;
}

@media screen and (max-width: 800px) {
    .grid3 {
      grid-template-columns: repeat(2, 1fr);
    }
}